%field-render
    margin: 0 auto
    width: 300px
    display: grid
    grid-template-columns: repeat(10, minmax(20px, 30px))
    grid-gap: 0px
    border: 1px solid

%button-template
    background-color: limegreen
    color: white
    border-radius: 30%

$active-button-color: rgb(247, 34, 105)

=bgd-color($property)
    background-color: $property

header
    text-align: center

.main-wrapper
    margin: 0 auto
    margin-bottom: 20px
    width: 1000px
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.field-name
    text-align: center
    font-size: 20px


div#player-field
    @extend %field-render

div#ai-field
    @extend %field-render
    border-color: red

#player-field, #ai-field
    div
        height: 30px
        border: 1px solid black

.miss
    +bgd-color(blue)

.ship
    +bgd-color(green)

.hit
    +bgd-color(red)

.empty
    +bgd-color(aqua)
    
button
    @extend %button-template

button:active
    background-color: $active-button-color

button#start-game
    width: 200px
    height: 60px
    font-size: 30px

button#auto-place
    height: 30px

button#reset-field
    height: 30px

.start-button
    text-align: center

#ships-frame
    width: fit-content

#temp-ship
    position: relative

.temp-ship
    position: absolute
    display: flex
    margin: 10px
    flex-direction: row
    width: fit-content
    height: fit-content
    div
        width: 30px
        height: 30px
        background-color: rgba(151, 59, 236, 0)
        box-shadow: -30px -30px blue

#destroyer, #light-cruiser, #heavy-cruiser, #battleship
    display: flex
    margin: 10px
    flex-direction: row
    width: fit-content
    div
        width: 30px
        height: 30px
        background-color: blueviolet
        border: 1px solid black

